<main>
  <div>
    <section id="section-login">
        <h2 id="Title-login">Login</h2>
        <form class=>
            
              <label for="staticUsuario" class="visually-hidden">Usuário</label>
              <input type="text" class="form-control" id="staticUsuario" placeholder="email">
            
            <br>
            
              <label for="inputPassword2" class="visually-hidden">Senha</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Senha">
              <br>
              <button type="submit" id="button-login">Entrar</button>
          
          </form>
    </section>
  </div>
</main>
